.head{
    font-size: 34px;
    letter-spacing: 1.3px;
    font-family: 'initial, Arial, sans-serif';
}
.gender {
    width: 75%;
    height: 150px;
}

.btn-m{
    color: #007bffc0;
}

.btn-m:hover{
    background-color: #007bffc0 !important;
    color: white;
}

.btn-f{
    color:#f047bdb0;
}

.btn-f:hover{
    background-color: #f047bdb0 !important;
    color: white;
}

.format-img {
    width: 50%;
    height: 200px;
    display: none;
}

